<!DOCTYPE html>
<html>
<head>
  <h1>Role Actualizado con Éxito</h1>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }
    h1 {
      font-size: 36px;
      color: #333;
    }
    p {
      font-size: 18px;
      color: #666;
    }
  </style>
</head>
<body>
    <p><a href="/admin/users/">Volver</a></p>
</body>
</html>