<div>
    <h1>Restaura la contraseña del usuario</h1>
<form method="POST" action="/resetPassword">
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" id="email">
    <label for="password">Nueva contraseña</label>
    <input type="password" name="password" id="password">
    <button type="submit">Guardar cambios</button>
</form>
</div>